/* Color palette will be:
brown, beige, orange, black and azure.
*/

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: brown;
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

img {
    max-height: 250px;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

body {
    background-image: url("img/coffee-shop-cat.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    font-family: 'Times New Roman', Times, serif;
}

button {
    color: black;
    background-color: gold;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

input[type=radio] {
    border: 0px;
    width: 10%;
    height: 2em;
}

/*-------------------------------------*/

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.valigjen {
    border-radius: 10px;
    border: solid 2px black;
    padding: 5px;
    background-color: gold;
    font-size: 20px;
    margin: 30px;
}

.send {
    font-size: 30px;
}

.score {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    z-index: 1;
}

.p-count,
.c-count {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.title {
    position: absolute;
    top: 0;
    font-size: 100px;
    color: brown;
    z-index: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.top {
    padding-top: 50px;
}

.gamescreen {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: azure;
    text-align: center;
    border: solid 2px black;
    margin-top: 100px;
    padding-top: 10px;
}

.block {
    padding: 10px;
    overflow: 'hidden';
    background-color: azure;
    text-align: center;
    position: 100%;
    margin: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid 2px black;
}



.options {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.stein,
.papir,
.saks {
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: orange;
    border: solid 2px black;
    color: azure;
    cursor: pointer;
    font-size: 20px;
}

.move {
    font-size: 2rem;
    font-weight: bold;
    background-color: azure;
    border: solid 2px black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: orange;
    border: solid 2px black;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
}

.panel {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.optionq {
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 140px;
    margin-bottom: 20px;
    position: fixed;
    top: 40%;
    left: 35%;
    width: 30vw;
    right: 40%;
    color: azure;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px black;
}

#score {
    font-size: 60px;
    color: black;
    margin: 20px;
}

.questions {
    font-size: 30px;
    background-color: azure;
    width: 500px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 2px black;
}



.tilbake {
    border: solid 2px orange;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: -50px;
    background-color: beige;
    color: black;
    overflow: hidden;
    width: 110px;
    font-size: 30px;
    padding: 10px;
}

@media screen and (max-width: 612px) {
    .title {
        text-align: center;
    }

    .score {
        position: absolute;
        top: 200px;
        width: 100vw;
    }

    .options {
        width: 100vw;
    }
}